.title-logo {
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    ;
}

.deck.separator-top {
    background-image:url('img/hr-img.png');
    background-repeat: repeat-x;
    height: 40px;
    padding: 5px
}
.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25px;
    flex-direction: nav-box;
    height: 110px;
}


#icon {
    display:flex;
    align-items: center;
}

#icon img {
width: 45px;
height:45px;
}
.best-food {
    background-image:url('img/best-food.png');
    font-size: 10px;
}

.rss {
    padding-left: 8px;
}

body {
     width: 900px;
     margin: auto;
     
}
.choc-pizza {
    font-family: 'Oswald', sans-serif;
    font-size:45px
}

.print-button {
    text-align: right; clear: left;
    background-color: transparent;
}

.desserts {
    font-family: 'Oswald', sans-serif; 
    font-color: rgb(234, 234, 227);

}

#chocloate-pizza {
    width: 100%;;
}

header {
    height: 110px
}

.recipeBreakdown {
    background-image: url(img/list-bg.png);
    display: flex;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;

}


.leftsideing {
    padding:50px
    
}

.rightsideing {
    padding:50px;
}

.sugar {
    text-decoration: line-through;
}

.egg {
    text-decoration: line-through;
}

.instructions {
    font-family: 'ABeeZee', sans-serif;  
}

.one {
    padding: 25px;
    font-size: 20px;
}

.two {
    padding: 25px;
    font-size: 20px;
}

.three {
    padding: 25px;
    font-size: 20px;
}

.vanessa {
    display:flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content:space-around
}

.footerbio {
    display:flex  
}
footer article h {
    font-size: 26px;
    align-items:left;
    font-weight: 700;
}

footer article p {
    font-size: 24px;
}

.button {
background-color:rgb(209, 77, 29);
width: 195px;
height:55px;
}

.trademark {
    text-align: center;
}

.smalllogo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    padding-bottom: 15px;
    padding-top: 75px;
}